@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>错误页</title>
</head>
<body>
    <div>
        系统出错，请联系管理员！
    </div>
</body>
</html>
